h2{
margin-left:20px;
color:blue;
font-family: 'Sofia';font-size: 51px;
text-align: center;
}
/* .col-md-7{
  scroll-behavior: smooth;
  background-size: cover;
font-size:50px;
height:100vh;
width:100%;
background-image: url(../images/newback.jpg);
 } */
  #logo{
  width:30%;
  height:30%;
  } 
  /* #landing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */
  h1{
    color:blue;
    font-size: 1.8em;
    font-family:sofia;
  }
  #nav{
    float:right;
  }
#nav>ul>li{
  display: inline-block;
  color:white;
  font-size:1.9em;
}
  #home{
    background-image: url(../images/newback.jpg);
    background-size: cover;
    font-size: 2.3em;
    height:100vh;
    padding-top:13px;
    color:white;
  }
#menu{
  padding-top:13px;
  width:100%;
}
#one,#two,#three{
  display:flex;
  flex-direction: row;
  width: 30%;
  height:30%;
}
*{
  padding:2px;
}
#order{
  text-align: center;
padding-top: 12px;
}
#contacts{
  color:white;
  background-image: url(../images/navbckgrnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
}
#toppings{
float:right;
}
footer{
  background-image: url(../images/navbckgrnd.jpg);
top:10%;
}
#cpy{
  color:white;
  text-align: center;
  margin-top:12px;
}
#fa{
text-align:center;
}
#hide{
  display:none;
}